<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BranksMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BranksMod.Properties.Settings>
            <setting name="EnableSafeMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InjectionType" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
        </BranksMod.Properties.Settings>
    </userSettings>
</configuration>